
VotingApp/VotingApp/obj/Debug/net8.0/VotingApp.AssemblyInfo.cs
VotingApp/VotingApp/obj/Debug/net8.0/VotingApp.AssemblyInfoInputs.cache
VotingApp/VotingApp/obj/rider.project.model.nuget.info
VotingApp/VotingApp/obj/rider.project.restore.info
