@page "/Admin"
@rendermode InteractiveAuto
<PageTitle>Byte Jam Admin</PageTitle>

@if (ShowLogin)
{
    <div>
        <h1>Byte Jam Admin Login</h1>
        <form>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password"><br/>
            <input type="submit" value="Login">
        </form>
    </div>
}

@if (ShowPage)
{
    <div>
        <h1>Admin</h1>
        <h3>Add Team</h3>
        <form>
            <label for="teamLevel">Team Level:</label>
            <input type="radio" id="teamLevel" name="TeamLevel" value="College"/>
            <label>College</label>
            <input type="radio" id="teamLevel" name="TeamLevel" value="Bytes"/>
            <label>Bytes</label>
            <input type="radio" id="teamLevel" name="TeamLevel" value="Bits"/>
            <label>Bits</label><br/>
            <label for="TeamName">Team Name:</label>
            <input type="text" id="TeamName" name="TeamName"><br>
            <input type="submit" value="Submit">
        </form>
        <div>
            <h4 class="teamName">College Teams</h4>
            <table class="votesTable">
                <tr>
                    <th class="teamHead">Team Name</th>
                    <th class="voteHead">Votes Received</th>
                </tr>
            </table>
        </div>
        
        <div>
            <h4>Bytes</h4>
            <table class="votesTable">
                <tr>
                    <th class="teamHead">Team Name</th>
                    <th class="voteHead">Votes Received</th>
                </tr>
            </table>
        </div>
        
        <div>
            <h4>Bits</h4>
            <table class="votesTable">
                <tr>
                    <th class="teamHead">Team Name</th>
                    <th class="voteHead">Votes Received</th>
                </tr>
            </table>
        </div>
    </div>
}

@code {
   private bool ShowLogin { get; set; } = true;
   private bool ShowPage { get; set; } = true;

   private int CollegeTeams { get; set; } = 0;
   private int BytesTeams { get; set; } = 0;
   private int BitsTeams { get; set; } = 0;

   private void SimpleTest()
   {
       
   }
}
