@page "/"

<PageTitle>Voting Login</PageTitle>

<h1>Voting App</h1>

<p>Welcome to the Indian Hills Byte Jam Voting App!</p>
<p>Please make a selection:</p>

<div>
    <button>Admin</button>
    <button>Business</button>
</div>
<div>
    <button>Student</button>
    <button>Attendee</button>
</div>
