@page "/voting"
@using VotingApp.Components.Modals
<h3>Voting</h3>

@code {
    
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="Extra/css/voting_styles.css" rel="stylesheet">
    <title>Voting</title>
</head>
<body>
<div class="form_container">
    <img src="IndianHillsLogo.png" alt="IHCCLogo">
    <h4 class="text-center">IHCC Teams</h4>
    <form>
        <div class="inputs btn-group-toggle" data-toggle="buttons">
            <input type="radio" class="btn-check" name="hillsTeams" id="hillsTeam1" autocomplete="off">
            <label class="btn btn-outline-secondary" for="hillsTeam1">Hills Team 1</label>

            <input type="radio" class="btn-check" name="hillsTeams" id="hillsTeam2" autocomplete="off">
            <label class="btn btn-outline-secondary" for="hillsTeam2">Hills Team 2</label>

            <input type="radio" class="btn-check" name="hillsTeams" id="hillsTeam3" autocomplete="off">
            <label class="btn btn-outline-secondary" for="hillsTeam3">Hills Team 3</label>

            <input type="radio" class="btn-check" name="hillsTeams" id="hillsTeam4" autocomplete="off">
            <label class="btn btn-outline-secondary" for="hillsTeam4">Hills Team 4</label>
                
            <input type="radio" class="btn-check" name="hillsTeams" id="hillsTeam5" autocomplete="off">
            <label class="btn btn-outline-secondary" for="hillsTeam5">Hills Team 5</label>
                
            <input type="radio" class="btn-check" name="hillsTeams" id="hillsTeam6" autocomplete="off">
            <label class="btn btn-outline-secondary" for="hillsTeam6">Hills Team 6</label>
                
                
            <input type="radio" class="btn-check" name="hillsTeams" id="hillsTeam7" autocomplete="off">
            <label class="btn btn-outline-secondary" for="hillsTeam7">Hills Team 7</label>
                
            <input type="radio" class="btn-check" name="hillsTeams" id="hillsTeam8" autocomplete="off">
            <label class="btn btn-outline-secondary" for="hillsTeam8">Hills Team 8</label>
                
        </div>
            
        <Button Color="ButtonColor.Primary" @onclick="ShowCollegeModal">Cast Hills Vote</Button>
    </form>
</div>

<div class="form_container">
    <img src="HSLogo.png" alt="HSLogo">
    <h4>Bits Teams</h4>
    <form>
        <div class="inputs btn-group-toggle" data-toggle="buttons">
            <input type="radio" class="btn-check" name="BitsTeams" id="BitsTeam1" autocomplete="off">
            <label class="btn btn-outline-secondary" for="BitsTeam1">Bits Team 1</label>
                
            <input type="radio" class="btn-check" name="BitsTeams" id="BitsTeam2" autocomplete="off">
            <label class="btn btn-outline-secondary" for="BitsTeam2">Bits Team 2</label>
                
            <input type="radio" class="btn-check" name="BitsTeams" id="BitsTeam3" autocomplete="off">
            <label class="btn btn-outline-secondary" for="BitsTeam3">Bits Team 3</label>
                
            <input type="radio" class="btn-check" name="BitsTeams" id="BitsTeam4" autocomplete="off">
            <label class="btn btn-outline-secondary" for="BitsTeam4">Bits Team 4</label>
        </div>
            
        <Button Color="ButtonColor.Primary" @onclick="ShowBitsModal">Cast Bits Vote</Button>
    </form>
</div>

<div class="form_container">
    <img src="HSLogo.png" alt="HSLogo">
    <h4>Bytes Teams</h4>
    <form>
        <div class="inputs btn-group-toggle" data-toggle="buttons">
            <input type="radio" class="btn-check" name="BytesTeams" id="BytesTeam1" autocomplete="off">
            <label class="btn btn-outline-secondary" for="BytesTeam1">Bytes Team 1</label>
                
            <input type="radio" class="btn-check" name="BytesTeams" id="BytesTeam2" autocomplete="off">
            <label class="btn btn-outline-secondary" for="BytesTeam2">Bytes Team 2</label>
                
            <input type="radio" class="btn-check" name="BytesTeams" id="BytesTeam3" autocomplete="off">
            <label class="btn btn-outline-secondary" for="BytesTeam3">Bytes Team 3</label>
                
            <input type="radio" class="btn-check" name="BytesTeams" id="BytesTeam4" autocomplete="off">
            <label class="btn btn-outline-secondary" for="BytesTeam4">Bytes Team 4</label>
        </div>
            
        <Button Color="ButtonColor.Primary" @onclick="ShowBytesModal">Cast Bits Vote</Button>
    </form>
</div>

<College_Modal @ref="collegeModal"></College_Modal>
<Bits_Modal @ref="bitsModal"></Bits_Modal>
<Bytes_Modal @ref="bytesModal"></Bytes_Modal>

</body>
</html>

@code {

    private College_Modal collegeModal;
    private Bits_Modal bitsModal;
    private Bytes_Modal bytesModal;

    protected override void OnInitialized()
    {
        collegeModal = new College_Modal();
        bitsModal = new Bits_Modal();
        bytesModal = new Bytes_Modal();
    }

    private async Task ShowCollegeModal()
    {
        collegeModal.OnShowModalClick();
    }

    private async Task ShowBitsModal()
    {
        bitsModal.OnShowModalClick();
    }
    
    private async Task ShowBytesModal()
    {
        bytesModal.OnShowModalClick();
    }

}