@page "/voting"
<h3>Voting</h3>

@code {
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div class="form_container">
    <form>
        <input type="radio" id="hillsteam1" class="team_select" name="vote" value="Hills Team 1">
        <label for="hillsteam1">Hills Team 1</label><br>

        <input type="radio" id="hillsteam2" class="team_select" name="vote" value="Hills Team 2">
        <label for="hillsteam2">Hills Team 2</label><br>

        <input type="radio" id="hillsteam3" class="team_select" name="vote" value="Hills Team 3">
        <label for="hillsteam3">Hills Team 3</label><br>

        <input type="radio" id="hillsteam4" class="team_select" name="vote" value="Hills Team 4">
        <label for="hillsteam4">Hills Team 4</label><br>

        <input type="submit" value="Cast Hills Vote">
    </form>
</div>

<div class="form_container">
    <form>
        <input type="radio" id="hsteam1" class="team_select" name="vote" value="HS Team 1">
        <label for="hsteam1">HS Team 1</label><br>

        <input type="radio" id="hsteam2" class="team_select" name="vote" value="HS Team 2">
        <label for="hsteam2">HS Team 2</label><br>

        <input type="radio" id="hsteam3" class="team_select" name="vote" value="HS Team 3">
        <label for="hsteam3">HS Team 3</label><br>

        <input type="radio" id="hsteam4" class="team_select" name="vote" value="HS Team 4">
        <label for="hsteam4">HS Team 4</label><br>

        <input type="submit" value="Cast HS Vote">
    </form>
</div>
</body>
</html>