@page "/modal_test"

<Modal @ref="modal" Title="Voting For [TEAM_NAME]">
    <BodyTemplate>
        Are you sure you want to vote for [TEAM_NAME]?
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Success" @onclick="OnSubmitVote">Yes</Button>
        <Button Color="ButtonColor.Danger" @onclick="OnHideModalClick">No</Button>
    </FooterTemplate>
</Modal>

<Button Color="ButtonColor.Primary" @onclick="OnShowModalClick">Show Modal</Button>

@code {
    private Modal modal = default!;

    private async Task OnShowModalClick()
    {
        await modal.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal.HideAsync();
    }

    private async Task OnSubmitVote()
    {
        // Grab vote from selection and submit vote
        // Block user from voting twice for whichever vote type it was (HS or IHCC)
    }
}